.landing-container{
    max-width: 1920px;
    min-height: 1200px;
    display: flex;
    flex-direction: column;
}
.landing-container .nav-div{
    width: 1920px;
    height: 83px;
}
.landing-container .body-div{
    height: 665px;
    width: 100%;
    margin-bottom: 64px;
}

.landing-container .search-div{
    min-height: 191px;
    margin: 0 auto;
}
.landing-container .foot-container{
    display: flex;
    margin-top: auto;
}



@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .landing-container{
        width: 744px;
    }
    .landing-container .body-div{
        width: 100%;
    }
    .landing-container .body-div img{
        width: 100%;
    }
}