.tire-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.tire-container .tire-header{
    width: 752px;
    height: 718px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-top: 130px;
}
.tire-container .tire-header .title{
    width: 752px;
    height: 258px;
    display: flex;
    flex-direction: column;
}
.tire-container .tire-header .title .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 108px;
    gap: 16px;
    color: #475569;

}
.tire-container .tire-header .title .logo img{
    width: 69.05px;
    height: 56px;
    box-shadow: 1px 1px 3px grey;
    border-radius: 20px;
}
.tire-container .tire-header .title .logo p{
    font-size: 24px;
}
.tire-container .tire-header .title .heading{
    width: 752px;
    height: 118px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tire-container .tire-header .title .heading h1{
    font-size: 64px;
    color: #1e293b;
}
.tire-container .tire-header .title .heading p{
    font-size: 40px;
    color: #475569;
}
.tire-container .tire-header .tire-img{
    width: 691.91px;
    height: 380px;
    background-image: url('../../../assets/Honda/honda-tires.png');
}
.tire-container .search-container{
    margin-top: -43px;
}