.nav{
    height: 83px;
    width: 1920px;
    padding: 16px 192px;
    display: flex;
    position: relative;
    border-bottom: 1px solid #e2e8f0;
}
.nav .honda-nav-container{
    display: flex;
    width: 1534px;
    justify-content: space-between;
    align-items: center;
}
.nav .honda-nav-container .logo-container .menu-btn{
    display: none;
    position: relative;

}
.menu-container{
    width: 100px;
    padding: 10px;
    background-color: whitesmoke;
    position: absolute;
    top: 55px;
    box-shadow: 1px 1px 1px grey;
    

}
.menu-container p .link{
    text-decoration: none;
    color: inherit;
}
.menu-container p  .active{
    color: red;
    border-bottom: 1px solid red;
}
.nav .honda-nav-container .logo-container{
    width: 284px;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 32px;
}
.nav .honda-nav-container .logo-container img{
    width: 133.34px;
    height: 30px;
}
.nav .honda-nav-container .logo-container p{
    width: 118px;
    height: 21px;
    font-size: 14px;
    color: #1e293b;
}
.nav .honda-nav-container ul{
    width: 598px;
    height: 51px;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
    color: #1e293b;
}
.nav .honda-nav-container ul li{
    font-size: 18px;
    text-decoration: none;
}
.nav .honda-nav-container ul li .link{
    color: inherit;
}

.nav .honda-nav-container ul li .active{
    border-bottom: 2px solid red;
    color: red;
    padding-bottom: 5px;
}

.nav .honda-nav-container .btn-container{
    width: 264px;
    height: 41px;
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    align-items: center;
}
.nav .honda-nav-container .btn-container .honda-button{
    width: 82px;
    height: 41px;
    border-radius: 39.38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    outline: none;
    background-color: #ea0029;
    border: none;
    color: white;
    box-shadow: 1px 1px 4px grey;
    cursor: pointer;
}
.nav .honda-nav-container .btn-container .shopping-cart-container{
    position: relative;
    display: flex;
}
.nav .honda-nav-container .btn-container .shopping-cart-container div{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 11px;
    color: white;
    background-color: #ea0029;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 12px;
    top: -10px;
}

.nav .honda-nav-container .drop-down{
   width: 251px;
   height: 280px; 
   position: absolute;
   color: #475569;
   left: 1429px;
   top: 95px;
   background-color: white;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.nav .honda-nav-container .drop-down p{
    width: 251px;
    height: 56px;
    display: flex;
    gap: 10px;
    padding: 16px 24px;
}


/* small screens */
@media only screen and (max-width: 414px) {
    .nav{
        height: 54px;
        width: 100%;
        padding: 10px 16px;
    }
    .nav .honda-nav-container{
        display: flex;
        justify-content: space-between;
        padding: 24px 10px;
        
    }
    .nav .honda-nav-container .logo-container .menu-btn{
        display: flex;
        width: 24px;
        height: 24px;
        
    }
    .menu-container{
        height: 200px;
        width: 150px;
        top: 53px;
        color: black;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
   
    .nav .honda-nav-container .logo-container{
        display: flex;
        align-items: center;
        gap: 20px;
        width: 150.67px;
        height: 24px;
    }
    #north{
        display: none;
    }
    .nav .honda-nav-container ul{
        display: none;
    }
    .nav .honda-nav-container .btn-container{
        width: 112px;
        height: 34px;
        padding: 0;
        display: flex;
        gap: 12px;
    }
    .nav .honda-nav-container .btn-container button{
        width: 68px;
        height: 34px;
        border-radius: 39.38px;
        padding: 8px 16px;
        display: flex;
        gap: 9px;
        font-size: 12px;
    }
    .nav .honda-nav-container .drop-down{
        width: 150px;
        height: 280px; 
        left: 250px;
        top: 83px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        
     }
  }


/* tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  {
    .nav{
        height: 69px;
        width: 100%;
        padding: 24px;
    }
    .nav .honda-nav-container{
        display: flex;
        justify-content: flex-start;
        padding: 24px 30px;
        
    }
    .nav .honda-nav-container .logo-container{
        display: flex;
        align-items: center;
        gap: 20px;
        width: 287.34px;
        height: 30px;
        margin-right: auto;
    }
    .nav .honda-nav-container .logo-container .menu-btn{
        display: block;
        width: 24px;
        height: 24px;
        
    }
    .nav .honda-nav-container .logo-container img{
        width: 133.34px;
        height: 30px;
    }
    .nav .honda-nav-container .logo-container p{
        width: 118px;
        height: 21px;
        font-size: 12px;
        color: #1e293b;
    }
    .nav .honda-nav-container ul{
        display: none;
    }
    .nav .honda-nav-container .btn-container{
        width: 116.5px;
        height: 36.5px;
        display: flex;
        gap: 12px;
        justify-content: center;
        align-items: center;
    }
    .nav .honda-nav-container .btn-container button{
        width: 72.5px;
        height: 36.5px;
        border-radius: 39.38px;
        padding: 11.25px 15.75px;
        display: flex;
        gap: 9px;
    }
    .nav .honda-nav-container .btn-container .shopping-cart-container{
        position: relative;
    }
    .nav .honda-nav-container .btn-container .shopping-cart-container .shopping-cart{
        font-size: 16px;
    }
    .nav .honda-nav-container .drop-down{
        /* width: 251px;
        height: 280px; 
        position: absolute;
        color: #475569;
        left: 1429px;
        top: 95px;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
        border: 1px solid red;
     }
}

/* iphone 14 */
