.nav{
    height: 83px;
    width: 1920px;
    padding: 16px 192px;
    display: flex;
}
.nav .honda-nav-container{
    display: flex;
    width: 1534px;
    justify-content: space-between;
    align-items: center;
}
.nav .honda-nav-container .logo-container{
    width: 284px;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 32px;
}
.nav .honda-nav-container .logo-container img{
    width: 133.34px;
    height: 30px;
}
.nav .honda-nav-container .logo-container p{
    width: 118px;
    height: 21px;
    font-size: 14px;
    color: #1e293b;
}
.nav .honda-nav-container ul{
    width: 598px;
    height: 51px;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
    color: #1e293b;
}
.nav .honda-nav-container ul li{
    font-size: 18px;
    text-decoration: none;
}
.nav .honda-nav-container ul li .link{
    color: inherit;
}

.nav .honda-nav-container ul li .active{
    border-bottom: 2px solid red;
    color: red;
    padding-bottom: 5px;
}

.nav .honda-nav-container .btn-container{
    width: 264px;
    height: 41px;
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    align-items: center;
}
.nav .honda-nav-container .btn-container .honda-button{
    width: 82px;
    height: 41px;
    border-radius: 39.38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    outline: none;
    background-color: #ea0029;
    border: none;
    color: white;
    box-shadow: 1px 1px 4px grey;
}
.nav .honda-nav-container .btn-container .shopping-cart-container{
    position: relative;
    display: flex;
}
.nav .honda-nav-container .btn-container .shopping-cart-container div{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 11px;
    color: white;
    background-color: #ea0029;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 12px;
    top: -10px;
}