.code-dropdown-container{
    border: 1px solid #E2E8F0;
    display: flex;
    gap: 12px;
    width: 159px;
    height: 64px;
    padding: 16px 32px 16px 24px;
    border-radius: 40px;
    position: relative;
    align-items: center;
    justify-content: space-between;
    color: #64748B;
    font-weight: 500;
}

@media only screen and (max-width: 414px){
    .code-dropdown-container{
        display: flex;
        justify-content: flex-start;
        width: 310px;
        height: 53px;
    }
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
    .code-dropdown-container{
        display: flex;
        justify-content: flex-start;
        width: 318px;
        height: 56px;
    }
}