.nav{
    padding: 5px;
    display: flex;
    justify-content: center;
}

.hyundai-nav-container{
    width: 100%;
    padding: 16px 192px;
    background-color: #E2E8F0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: space-around;
    box-shadow: 1px 1px 4px grey;
    border-bottom: 1px solid white;
}
.hyundai-nav-container .logo-container{
    display: flex;
    align-items: center;
    width: 212px;
    height: 30px;
}
.hyundai-nav-container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 729px;
    height: 51px;
    max-width: 600px;
}
.hyundai-nav-container ul li{
    font-size: 14px;
    line-height: 150%;
    color: #1e293b;
}
.hyundai-nav-container ul #active{
    color: #002E6B;
    font-weight: 500;
    border-bottom: 2px solid #002E6B;
}
.hyundai-nav-container .btn-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 212px;
}
.hyundai-nav-container .btn-container button{
    width: 82px;
    height: 41px;
    background-color: #002E6B;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 25px;
}
.hyundai-nav-container .btn-container div{
    display: flex;
}
.hyundai-nav-container .btn-container div .shopping-cart{
    width: 20.04px;
    height: 18.75;
}
.hyundai-nav-container .btn-container div button{
    width: 18px;
    height: 18px;
    color: white;
    font-size: 9px;
    margin-top: -8px;
    margin-left: -5px;
}
